.page {
	min-width: 1100px;
	max-width: 1600px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
	flex-wrap: wrap;
}

.logo {
	width: 183px;
	height: 32px;
	z-index: 99;
}

.header {
	position: relative;
	height: 100vh;
<<<<<<< HEAD
	min-height: 600px;
	max-height: 756px;
	max-width: 1600px;
	width: 100%;
=======
	max-height: 756px;
	min-width: 1600px;
	vertical-align: center;
>>>>>>> 7f38541 (first version 1.0.0 site)
}

.header__logo {
	margin-top: 30px;
	margin-left: 64px;
	object-fit: cover;
}

.header__title {
	position: relative;
	font-size: 102px;
	height: 96px;
	left: 64px;
	top: 20%;
	width: 730px;
	font-family: 'Arial', sans-serif;
}

.header__subtitle {
	position: relative;
	font-size: 18px;
	left: 64px;
	top: 340px;
	line-height: 25px;
	width: 388px;
	font-weight: normal;
	font-family: 'Arial', sans-serif;
	z-index: 4;
}

.header__link {
	text-decoration: none;
	color: #2f80ed;
<<<<<<< HEAD
=======
	margin-right: 48px;
	margin-top: 50%;
>>>>>>> 7f38541 (first version 1.0.0 site)
}

.header__main-illustration {
	position: absolute;
	height: 608px;
	width: 756px;
	right: 0;
	bottom: 0;
	object-fit: fill;
	z-index: -1;
}

.header__square-pic {
	position: absolute;
	height: 568px;
	width: 568px;
	background-color: #2f80ed;
	top: 65px;
	right: 0;
	z-index: -2;
	align-items: flex-end;
}

		/*Хедер закончился, в ход пошла секция description*/

.description {
	display: flex;
<<<<<<< HEAD
	margin-top: 100px;
	justify-content: center;
	margin: 100px auto;
	margin-bottom: 100px;
=======
	margin: 100px auto;
	margin-bottom: 100px;
	margin-top: 100px;
>>>>>>> 7f38541 (first version 1.0.0 site)
}

.two-columns {
	width: 80%;
  	display: flex;
  	justify-content: space-between;
  	margin: 0 auto;
  	margin-top: 100px;
  	margin-bottom: 100px;
}

.main-text {
	width: 80%;
	min-width: 784px;
}

.two-columns__brief {
	margin: 0;
	padding: 0;
   	flex-direction: column;
	width: 175px;
	justify-content: flex-start;
	color: #2f80ed;
<<<<<<< HEAD
	line-weight: 1.2px;
=======
	line-height: 1.2px;
	width: 100%;
>>>>>>> 7f38541 (first version 1.0.0 site)
	font-size: 18px;
	font-weight: normal;
}

.two-columns__span-accent {  
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 34px;
	font-size: 24px;
	font-weight: normal;
}

.two-columns__paragraph {
  	padding: 0;
  	margin: 0;
  	line-height: 34px;
  	font-size: 24px;
  	font-weight: normal;
  	display: flex;
	justify-content: space-between;
}

	/*   Section зона    */

.digits {
<<<<<<< HEAD
	position: relative;
	margin: auto 100px;
}

.section__title {
	position: relative;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	width: 60%;
	margin: 0 auto;
	bottom: 70px;
	left: 130px;
}

.section__subtitle {
	position: relative;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	width: 60%;
	margin: 0 auto;
	left: 310px;
	margin-top: 0;
=======
	margin-bottom: 100px;
}

.section__title {
	display: flex;
	justify-content: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	margin: 0 auto;
}

.section__subtitle {
	display: flex;
	justify-content: center;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin: 0 auto;
	margin-top: 70px;
>>>>>>> 7f38541 (first version 1.0.0 site)
}

	/*Описание табличных элементов */

.table {
	position: relative;
	width: 1190px;
	margin: 100px auto;
	margin-top: 0;
	display: grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-gap: 60px;
}

.table__cell {
	position: relative;
	width: 250px;
	width: 100%;
	margin-top: 60px;
	height: auto;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	padding: 0;
	margin-bottom: 20px;
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.table__text-span {
	margin-top: 26px;
}

			/*Секция FEYNMAN*/

.feynman {
<<<<<<< HEAD
	height: 890px;
	height: 100%;
	min-width: 1100px;
	max-width: 1600px;
	margin: 0;
	margin-top: 100px;
=======
	position: relative;
	min-height: 890px;
	margin-bottom: 0;
>>>>>>> 7f38541 (first version 1.0.0 site)
}

.feynman__title {
	position: relative;
<<<<<<< HEAD
	width: 648px;
	width: 100%;
	height: auto;
	line-height: 1.15px;
	font-size: 120px;
	font-weight: bold;
	z-index: 2;
	top: 140px;
	margin-bottom: 70px;
	text-align: center;
}

.feynman__subtitle {
	position: relative;
	top: 70px;
=======
	line-height: 1.15;
	font-size: 120px;
	font-weight: bold;
	z-index: 2;
	width: 648px;
	top: 120px;
	margin: 0 auto;
	text-align: center;

}

.feynman__subtitle {
	display: flex;
	justify-content: center;
	margin-top: 200px;
>>>>>>> 7f38541 (first version 1.0.0 site)
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	z-index: 2;
<<<<<<< HEAD
	bottom: 0;
	text-align: center;
=======
	
>>>>>>> 7f38541 (first version 1.0.0 site)

}

.feynman__link {
<<<<<<< HEAD
	position: relative;
	color: #2f80ed;
	text-decoration: none;
	margin: 0;
	margin-left: 520px;
	margin-top: 50%;
	bottom: 50%;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	margin-right: 60px;
}

.feynman__image {
	width: 867px;
	height: 637px;
	left: 0;
	bottom: 0;
	z-index: -1;
=======
	position: absolute;
	color: #2f80ed;
	text-decoration: none;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
	text-align: end;
	right: 48px;
	transform: translateY(50%);
}

.feynman__image {
	position: relative;
	width: 867px;
	height: 637px;
	left: 0;
	z-index: -1;
}



		  /*       И так... Тут свойства элемента kaufman       */



.kaufman {
	position: relative;
	margin: auto 100px;
	background-color: #1f1f1f;
	margin: 0;
	color: white;
	display: block;
	text-align: center;
	padding-top: 90px;
	z-index: 3;
	overflow: hidden;
}

.section__title__theme_dark {
	line-height: 1.15;
	font-size: 60px;
	font-weight: bold;
	margin: 0 auto;
}

.section__subtitle__theme_dark {
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
	margin: 0 auto;
	margin-top: 20px;
}

.table__theme_dark {
	display: inline-grid;
	grid-template-columns: 200px 200px 200px 200px 200px;
	grid-gap: 80px;
	text-align: start;
	margin-bottom: 90px;
}

.table__cell__theme_dark {
	position: relative;
	width: 200px;
	width: 100%;
	top: 80px;
	bottom: 0;
}

.table__heading__theme_dark {
	line-height: 1.15;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.table__text__theme_dark {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
}

.kaufman__triangle {
	position: absolute;
	height: 877px;
	width: 877px;
	top: 0;
	right: -310px;
	z-index: -2;
}


									/* Наконец последний блок футер, чуть чуть осталось */
.footer {
	min-height: 350px;
	color: white;
	background-color: #1f1f1f;
	display: flex;
}

.logo_place_footer {
	padding-top: 0;
	padding-left: 0;
}

.footer__columns {
	display: flex;
	flex-direction: row;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 40px;
	flex-direction: row-reverse;
	justify-content: flex-end;
	min-width: 1600px;
}

.footer__column-copyright {
	display: flex;
	order: 3;
	justify-content: space-between;
	flex-direction: column;
	flex-basis: 711px;
}

.footer__author {
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column-heading {
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 20px;
}

.footer__column_content-info {
	display: inline-block;
	order: 1;
	width: 130px;
	margin:  0 auto;
}

.footer__column-links {
	display: flex;
	text-decoration: none;
	color: white;
}

/*    Не ругайтесь пожалуйста, почему-то через атрибут параграфа свойство "space-between" не работает, а вот на атрибут с ссылкой нет.   */
.footer__column-links:hover {
	cursor: pointer;
}

.footer__column_content-social {
	display: block;
	order: -2;
	width: 130px;
	margin:  0 auto;
	margin-right: 0;
}

.footer__social-icon {
	margin-right: 5px;
>>>>>>> 7f38541 (first version 1.0.0 site)
}